@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  html,
  body,
  #root {
    height: 100%;
  }
  :root {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 86%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --radius: 0.5rem;
  }
}
@layer base {
  * {
    @apply border-border;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  body {
    @apply bg-background text-foreground;
  }
  .responsive-width {
    width: clamp(22rem, 100vw, 34rem);
  }
  .responsive-square {
    @apply responsive-width;
    height: clamp(22rem, 100vw, 34rem);
  }
  .responsive-text {
    font-size: clamp(0.8rem, 2.5vw, 1rem);
  }
}
@layer components {
  .convex {
    box-shadow: inset 3px 3px 6px 0px rgba(255, 255, 255, 0.6), inset -4px -4px 8px 1px rgba(0, 0, 0, 0.6);
  }
  .convex-strong {
    box-shadow: inset 4px 4px 8px 2px rgba(255, 255, 255, 1), inset -4px -4px 8px 3px rgba(0, 0, 0, 1);
  }
  .diffused {
    filter: drop-shadow(0 0 3px currentColor);
  }
  .inner-shadow {
    box-shadow: inset 0px 0px 30px 5px var(--tw-shadow-color);
  }
  .centric-shadow {
    box-shadow: 0px 0px 15px 5px var(--tw-shadow-color);
    animation: centric-shadow-vibration 0.5s infinite;
  }
}

@keyframes centric-shadow-vibration {
  50% {
    box-shadow: 0px 0px 13px 5px var(--tw-shadow-color);
  }
}